.home {
    background-image: var(--first-gradient);
    position: relative;
    overflow: hidden;
}

.home,
.home__wrapper,
.home__container {
    position: relative;
}

.home__wrapper {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-content: space-around;
}

.home__container {
    width: 100%;
    z-index: 10;
}

.home__subtitle {
    font-weight: 700;
    font-size: var(--small-font-size);
    color: var(--title-color);
    text-align: center;
}

.home__subtitle span {
    color: var(--primary-color);
}

.home__text {
    font-size: var(--largest-font-size);
    margin-block: 30px 50px;
    max-width: 520px;
    text-align: center;
}

.home__text b {
    font-family: var(--second-font);
    font-size: var(--h4-font-size);
}

.home__text li {
    margin-block: 10px 10px;
}

.home__socials {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.home__social-link {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    transition: all 0.7s var(--transition);
}

.home__social-link:hover {
    color: var(--primary-color);
}

.hero__link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -92%;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background-color: var(--border-color);
}

.home__banner {
    padding-bottom: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home__data {
    border: 2px solid var(--border-color);
    background: var(--container-color);
    box-shadow: var(--shadow);
    padding-inline: 20px;
    width: 250px;
    height: 82px;
    border-radius: 82px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 12;
}

.home__data-one {
    bottom: -10%;
    left: -50%;
}

.home__data-two {
    bottom: 40%;
    right: -60%;
}

.home__data-three {
    left: -60%;
    top: -2%;
}

.home__data .text-lg,
.home__data .text-sm {
    width: 40%;
    color: var(--title-color);
    font-weight: 700;
}

.home__data .text-lg {
    text-align: center;
    font-size: 28px;
}

.home__data .text-sm {
    font-size: 16px;
    line-height: 1.5em;
}

.home__data .text-lg b,
.home__data .text-sm span {
    color: var(--primary-color);
}

.home__data .text-lg b {
    position: relative;
    top: -4px;
}

.shape__1 {
    width: 225px;
    height: 225px;
    top: -35%;
    right: -65%;
}

.shape__2,
.shape__3 {
    width: 140px;
    height: 140px;
}

.shape__2 {
    bottom: 45%;
    left: -35%;
}

.shape__3 {
    bottom: -25%;
    right: -40%;
}
