.testimonials {
    background-image: var(--third-gradient);
}

.testimonials__container {
    text-align: center;
}

.testimonial__header {
    position: relative;
}

.testimonial__img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
    vertical-align: middle;
    transition: all 0.6s var(--transition);
}

.testimonial__img-wrapper {
    overflow: hidden;
}

.testimonials__item:hover .testimonial__img {
    transform: scale(1.04);
}

.testimonial__description {
    min-height: 110px;
}

.testimonial__name {
    font-size: var(--largest-font-size);
    margin-top: 30px;
}
